* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.header {
    padding: 20px 65px;
}

.section--container {
    padding: 10px 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section--1 {
    width: 40.5%;
}

.section--2 {
    width: 53.5%;
}

.sub--section--1 {
    border: 2px solid rgb(116, 173, 116);
    padding: 20px;
    border-radius: 5px;
}

.sub--section--1 h5 {
    font-size: 20px;
    font-weight: 600;
    opacity: 0.8;
    padding-bottom: 10px;
}

.sub--section--1 {
    margin-bottom: 30px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus,
button:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.sub--section--1 input {
    padding: 5px;
    width: 100%;
    border: 0.05rem solid rgb(116, 173, 116);
}

.sub--section--2 .form--one {
    padding-bottom: 30px;
}

.sub--section--2 {
    border: 2px solid rgb(231, 104, 104);
    padding: 20px;
    border-radius: 5px;
}

.sub--section--2 h5 {
    font-size: 20px;
    font-weight: 600;
    opacity: 0.8;
    padding-bottom: 10px;
}

.sub--section--2 input {
    padding: 5px;
    width: 100%;
    border: 0.05rem solid rgb(231, 104, 104);
}

.button--1 {
    padding: 8px 20px;
    font-size: 17px;
    color: green;
    background: transparent;
    border: 1px solid green;
    border-radius: 5px;
    margin-top: 20px;
}

.button--2 {
    padding: 8px 20px;
    font-size: 17px;
    color: rgb(231, 104, 104);
    background: transparent;
    border: 1px solid rgb(231, 104, 104);
    border-radius: 5px;
    margin-top: 20px;
}

.button--1:hover {
    background: rgb(5, 173, 5);
    color: white;
    box-shadow: 3px 3px rgba(5, 173, 5, 0.3);
}

.button--2:hover {
    background: rgb(200, 8, 8);
    color: white;
    box-shadow: 3px 3px rgba(200, 8, 8, 0.3);
}

/* ---------------------------- */
.container--1 {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    margin-bottom: 55px;
}

.budget--container {
    text-align: center;
}

.expense--container {
    text-align: center;
}

.balance--container {
    text-align: center;
}

.budget--container h4,
.expense--container h4,
.balance--container h4 {
    font-size: 28px;
    font-weight: 600;
    opacity: 0.7;
}

.budget--container .budget--value {
    color: #317b22;
    font-size: 30px;
}

.expense--container .expense--value {
    color: #b80c09;
    font-size: 30px;
}

.balance--container .balance--value {
    font-size: 30px;
    color: #333333;
}

i {
    color: #05668d;
    font-size: 60px;
    padding: 5px 0;
    border: none;
}

/* --------------------------- */
/* .container__1 {
    display: flex;
    text-align: center;
    width: 100%;
} */

.title--value {
    display: flex;
}

.e-title {
    padding-right: 95px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
}

.e-value {
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
}

.movements__row {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    width: 100%;
}

.form-title {
    color: #b80c09;
    font-weight: bold;
    opacity: 0.8;
    font-size: 19px;
    width: 32.5%;
}

.form-value {
    color: #b80c09;
    font-weight: bold;
    opacity: 0.8;
    font-size: 19px;
    padding-left: 14px;
    width: 32.5%;
}

.edit--delete {
    padding-left: 35px;
    width: 32.5%;
}

.fa-pen-to-square,
.fa-trash {
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}

.fa-trash {
    color: #b80c09;
}

/* ------------- RESPONSIVE DESIGN ------------- */

/* ---------- SURFACE PRO 7 ---------- */
@media (max-width: 912px) {
    .section--container {
        padding: 10px 65px;
        width: 100%;
        display: block;
    }

    .section--1 {
        width: 100%;
        margin-bottom: 50px;
    }

    .section--2 {
        width: 100%;
    }

    .e-title {
        padding-right: 155px;
        font-size: 20px;
        font-weight: bold;
        opacity: 0.8;
    }
}

/* --------- IPAD AIR & MINI ----------- */
@media (max-width: 820px) {
    .section--container {
        padding: 10px 65px;
        width: 100%;
        display: block;
    }

    .section--1 {
        width: 100%;
        margin-bottom: 50px;
    }

    .section--2 {
        width: 100%;
    }

    .e-title {
        padding-right: 105px;
        font-size: 20px;
        font-weight: bold;
        opacity: 0.8;
    }
}

/* --------- Iphone SE & Pixel 5-----------  */
@media (max-width: 375px),
(max-width: 393px),
(max-width: 412px),
(max-width: 414px) {
    .header {
        padding: 20px 35px;
    }

    .section--container {
        padding: 10px 35px;
        width: 100%;
        display: block;
    }

    .section--1 {
        width: 100%;
        margin-bottom: 50px;
    }

    .section--2 {
        width: 100%;
    }

    .container--1 {
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
        margin-bottom: 55px;
    }

    .budget--container h4,
    .expense--container h4,
    .balance--container h4 {
        font-size: 16px;
        font-weight: 600;
        opacity: 0.7;
    }

    .e-title {
        padding-right: 21px;
        font-size: 13px;
        font-weight: bold;
        opacity: 0.8;
    }

    .e-value {
        font-size: 14px;
        font-weight: bold;
        opacity: 0.8;
    }

    .movements__row {
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
        width: 100%;
    }

    .form-title {
        color: #b80c09;
        font-weight: bold;
        opacity: 0.8;
        font-size: 14px;
        width: 32.5%;
    }

    .form-value {
        color: #b80c09;
        font-weight: bold;
        opacity: 0.8;
        font-size: 14px;
        padding-left: 4px;
        width: 32.5%;
    }

    .edit--delete {
        padding-left: 18px;
        width: 32.5%;
    }
}

/* --------- Galaxy Fold -----------  */
@media (max-width: 280px) {
    .header {
        padding: 20px 17px;
    }

    .section--container {
        padding: 10px 17px;
        width: 100%;
        display: block;
    }

    .section--1 {
        width: 100%;
        margin-bottom: 50px;
    }

    .section--2 {
        width: 100%;
    }

    .container--1 {
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
        margin-bottom: 55px;
    }

    .budget--container h4,
    .expense--container h4,
    .balance--container h4 {
        font-size: 13px;
        font-weight: 600;
        opacity: 0.7;
    }

    .budget--container .budget--value,
    .budget--container .expense--value,
    .budget--container .balance--value {
        font-size: 13px;
    }

    .e-title {
        padding-right: 21px;
        font-size: 12px;
        font-weight: bold;
        opacity: 0.8;
    }

    .e-value {
        font-size: 12px;
        font-weight: bold;
        opacity: 0.8;
    }

    .movements__row {
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
        width: 100%;
    }

    .form-title {
        color: #b80c09;
        font-weight: bold;
        opacity: 0.8;
        font-size: 14px;
        width: 32.5%;
    }

    .form-value {
        color: #b80c09;
        font-weight: bold;
        opacity: 0.8;
        font-size: 14px;
        padding-left: 4px;
        width: 32.5%;
    }

    .edit--delete {
        padding-left: 16px;
        width: 32.5%;
        font-size: 10px;
    }

    .edit,
    .delete {
        font-size: 13px;
    }
}